.contenedor{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    position: relative;
    width: 100%;
    height: 600px;
}
.contenedor::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 668px;
    background-color: rgba(0, 0, 0, 0.6); /* Oscurecer la imagen con un color negro semitransparente */
    z-index: 2; /* Asegura que el overlay esté sobre la imagen */
}
.fondoheathawks{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 668px;
    z-index: 1;
}
.p1{
    font-family: "Roboto Slab",serif;
    color: black;
    font-size: 70px;
    margin-left: 45px;
    margin-bottom: 0px;
    text-shadow:
    -3px -3px 0 #f2c419,
     3px -3px 0 #f2c419,
    -3px  3px 0 #f2c419,
     3px  3px 0 #f2c419,
    -3px  0px 0 #f2c419,
     3px  0px 0 #f2c419,
     0px -3px 0 #f2c419,
     0px  3px 0 #f2c419;
    transition: text-shadow 0.3s ease;
    
}
.p1:hover{
    text-shadow: 0 0 10px #f2c419, 0 0 20px #f2c419, 0 0 30px #f2c419;
}
.card-text1{
    font-family: "Lato",serif;
    color: #f2c419;
    text-shadow: 20px 20px 30px #000000;
    font-size: 22px;
    width: 600px;
    margin-left: 27px;
    margin-top: 0px;
}
/* From Uiverse.io by adamgiebl */ 
button {
    background: black;
    font-family: "Roboto Slab",serif;
    margin-left: 27px !important;
    padding: 0.6em 1.3em;
    font-weight: 700;
    font-size: 18px;
    border: 3px solid #f2c419;
    color: white;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
  }
  
button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;   
  }
/*end button*/
h2{
    font-family: "Roboto slab",serif;
    color: white;
    padding-top: 10px;
    background-color: #110516;
    
}
.card-header1{
    background-color: #110516 !important;
}
.mitad{
    height: 2000px;
    margin-top: 68px;
    background-color: #110516;
    background-image: radial-gradient(#f2c419 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
     
}
.background-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    color: black;
    padding: 20px;
    max-width: 600px;
    margin-left: 20px;
}
.corner-text{
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-family: "Roboto Slab",serif ;
    position: absolute;
    top: 150px;
    left: 20px;
    color: white;
    text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}
.corner-text2{
    font-size: 18px;
    line-height: 1.6;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-family: "Lato",serif;
    text-align: justify;
    width: 550px;
    height: 193px;
    position: absolute;
    top: 198px;
    left: 20px;
    color: white;
    text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}
.ods13{
    width: 190px;
    height: 180px;
    padding-top: 5px;
    border-radius: 100% !important;
}
.ods15{
    width: 190px;
    height: 180px;
    padding-top: 5px;
    border-radius: 100% !important;
}
.ask1{
    background-image: radial-gradient(#f2c419 2px, transparent 0) !important;
}
.card-custom-bg{
    background-color: #110516 !important;
    background-image: radial-gradient(#f2c419 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    color: white !important;
    border: none !important;

}
.card-header{
    font-family: "Roboto Slab",serif;
}
.card-body2{
    font-family: "Lato",serif;
    margin-left: 300px;
    width: 900px;
}
.card-text2{
font-size: 19px;
width: 900px;
background-color: #110516;
}

.accordion{
    padding: 80px;
}

.accordion-button{
    background-color: #110516 !important;
    color: white !important;
    font-size: 20px !important;
}

.accordion-item{
background-color: #110516 !important;
}

.accordion-body{
background-color: #110516 !important;
}

/*procesos*/
.c-item {
    height: 480px;
}
.c-img {
    height: 100%;
    object-fit: cover;
}

.card1-info{
    position: relative;
    z-index: 2;
    margin-top: 100px;
    margin-left: 20%;
}
.card-header-info{
    color: white;
    font-family: "Roboto Slab",serif;
}
.card-text-info{
    color: white;
    font-family: "Lato",serif;
}
.table-info{
    position: absolute;
    z-index: 2;
}
.titletable-info {
    color: white;
    text-align: center;
    font-family: "Roboto Slab", serif;
}
.bodytable-info{
    color: white;
    text-align: justify;
    font-family: "Lato", serif;
}
.card2{
    display: flex;
    z-index: 2;
    position: relative;
    margin-left: 75px;
    margin-top: 110px;
    color: white;
}
.card3{
    display: flex;
    z-index: 2;
    position: relative;
    width: 500px;
    height: 200px;
    margin-left: 720px;
    margin-top: 10px;
    color: white;
}
.card4{
    display: flex;
    z-index: 2;
    position: relative;
    margin-left: 75px;
    margin-top: 85px;
    color: white;
}
.card-title{
    margin-top: -16px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
}
.card-text{
    margin-top: -8px;
    font-size: 18px;
    width: 430px;
    height: 200px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.7);
}
/*procesos*/


