
.container-fluid1 {
    width: 1499px;
    height: 1200px;
    position: absolute;
    z-index: -2;
    background-color: #1f0a28;
}

h3 {
    font-family: "Lora",serif;
    color: white; /* Un tono crema suave que combina bien */
    text-shadow: 2px 2px 5px #000000; /* Sombras para mayor impacto */
    transition: text-shadow 0.3s ease;
}
h3:hover {
    text-shadow: 0 0 10px #e2e843, 0 0 20px #e2e843, 0 0 30px #e2e843;
  }

.card-title{
    justify-content: center;
    text-align: center;
    font-family: "Lora",serif;
}
.card-text{
    font-family: "Roboto",serif;
}
.card1{
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 60%;
    width: 40%;
    margin-top: 5%;
    margin-left: 8%;
    font-size: 18px;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}
.card2{
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 60%;
    width: 40%;
    margin-top: 5%;
    margin-left: 40%;
    font-size: 18px;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}
.card3{
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 60%;
    width: 40%;
    margin-top: 5%;
    margin-left: 72%;
    font-size: 18px;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}
.card4{
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 60%;
    width: 40%;
    margin-top: 40%;
    margin-left: 24%;
    font-size: 18px;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}

.card-body{
    background-color: black;
}

.imgbutton1{
    margin-top: 45%;
    margin-left: 53%;
    transition: filter 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.imgbutton2{
    margin-top: -22%;
    margin-left: 70%;
    transition: filter 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.imgbutton1:hover,
.imgbutton2:hover{
    filter: brightness(1.2);
    filter: drop-shadow(0 0 10px #e2e843) drop-shadow(0 0 20px #e2e843);
    transform: scale(1.10);
    transition: all 0.3s ease;
}



/* From Uiverse.io by adamgiebl */ 
button {
    color: white;
    background: #250c30;
    font-family: "Roboto",serif;
    padding: 0.6em 1.3em;
    font-weight: 700;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
  }
  
button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }

