/* From Uiverse.io by uiverse-astronaut */ 
.container-fluid1 {
    width: 1499px;
    height: 1100px;
    position: absolute;
    z-index: -2;
    --color: #250c30;
    background: linear-gradient(95deg, var(--color) 25%, transparent 25%) -50px 0,
          linear-gradient(-15deg, var(--color) 25%, transparent 25%) -50px 0,
          linear-gradient(25deg, transparent 75%, var(--color) 75%) -50px 0,
          linear-gradient(-45deg, transparent 75%, var(--color) 75%) -50px 0,
          linear-gradient(-15deg, transparent 75%, var(--color) 75%) -50px 0;
    background-color: #250c30;
    background-size: 40px 40px;
}

h3 {
    color: #F5E6CC; /* Un tono crema suave que combina bien */
    text-shadow: 2px 2px 5px #000000; /* Sombras para mayor impacto */
}
.card-title{
    justify-content: center;
    text-align: center;
    font-family: "Lora",serif;
}
.card-text{
    font-family: "Roboto",serif;
}
.card1{
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 60%;
    width: 40%;
    margin-top: 5%;
    margin-left: 8%;
    font-size: 14.1px;
}
.card2{
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 60%;
    width: 40%;
    margin-top: 5%;
    margin-left: 40%;
}
.card3{
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 60%;
    width: 40%;
    margin-top: 5%;
    margin-left: 72%;
}
.card4{
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 60%;
    width: 40%;
    margin-top: 35%;
    margin-left: 40%;
}
.card-body{
    background-color: black;
}
/* From Uiverse.io by adamgiebl */ 
button {
    color: white;
    background: #250c30;
    font-family: "Roboto",serif;
    padding: 0.6em 1.3em;
    font-weight: 700;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
  }
  
button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }

